:root{
    --background-color: white; 
    --header-text-color:#1D2F6F;
    --secondary-color: #8390FA;
    --cta-color:#FAC748;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--background-color);
}